<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>escolhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>





  <h3>Botão de navegação para escolhas usando Programação</h3>
  <ion-button (click)="navegarOrigemDestino('escolhas', 'contato')"> Clique Aqui </ion-button>


  <h3>Botão de navegação para Contato usando Programação</h3>
  <ion-button (click)="navegar('contato')"> Clique Aqui </ion-button>





</ion-content>
